@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* h1 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  size: 100px !important;
  line-height: 70px;
  letter-spacing: -0.02em;
  font-weight: 700;
}

p {
  font-family: "Inter";
  font-weight: 400;
  style: Regular;
  size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  color: #000;
} */
/* Font
Inter
Weight
400
Style
Regular
Size
18px
Line height
25px
Letter spacing
0% */
